body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.small-hr {
    width: 60px;
    height: 4px;
    border: none;
    background-color: #f38181;
}

h1 {
    font-size: 150pt;
    text-transform: uppercase;
}

h2 {
    font-size: 72pt;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 24pt;
}

/* SECTION */
section {
    padding: 80px 0;
}

.section-message {
    background-color: #f8f8f8;
}

.section-header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section-suptitle {
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.section-title {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.section-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section-text {
    font-size: 15px;
    color: #999;
}