body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-size: 125pt;
    text-transform: uppercase;
}

h2 {
    font-size: 50pt;
}

h3 {
    font-size: 30pt;
    color: #333;
}

h4 {
    font-size: 24pt;
    color: #333;
}

/* SECTION */
section {
    padding: 100px 0;
}

.section-header {
    width: 68%;
    margin: 0 auto 50px;
    text-align: center;
}

.section-subtitle {
    font-family: 'Kaushan Script', cursive;
}

.section-title {
    font-weight: bold;
    text-transform: uppercase;
}

.section-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}

.section-text {
    font-family: "Roboto Light", serif;
    font-size: 15px;
    color: #999;
}