@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 60pt;
    }

    h2 {
        font-size: 40pt;
    }

    .container {
        width: 85%;
    }

    .logo {
        font-size: 20pt;
        font-weight: bold;
        float: left;
    }

    .menu li a {
        font-size: 10pt;
    }

    .menu li {
        margin-right: 20px;
    }

    .services {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 60px;
    }

    .comment-image {
        display: none;
    }

    .footer-col--first {
        width: 90%;
    }

    .footer-col--second {
        width: 45%;
    }

    .footer-col--third {
        width: 45%;
    }
}