.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 60px;
    margin: 80px auto 80px auto;
}

.service {
    display: flex;

}

.service img {
    height: 32px;
    width: 32px;
    margin: 0 30px;
}


.service-title {
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
}

.service-text {
    margin: 20px auto auto;
    font-family: "Roboto Light", serif;
}