/* WORKS */
.works {
    display: flex;
}

.works-col {
    flex: 1 1 0;
}
.works-text {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.works-item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works-item:hover .works-image {
    opacity: .1;
}

.works-item:hover .works-info {
    opacity: 1;
}

.works-image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}

.works-info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.works-title {
    font-size: 14px;
    text-transform: uppercase;

    margin-bottom: 5px;
}

.section-work {
    padding-bottom: 0;
}