.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 60px;
  margin: 80px auto 80px auto;
}

.service {
  display: flex;

  img {
    height: 32px;
    width: 32px;
    margin: 0 30px;
  }
}

.service-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserat, serif;
}

.service-text {
  font-size: 15pt;
  margin: 20px auto auto;
  font-family: "Roboto Light", sans-serif;
  color: #999;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .services {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 60px;
  }
}

@media (max-width: 600px) {
  .services {
    grid-template-columns: 90%;
    align-items: center;
    align-content: center;
  }

  .service {
    margin: 0 auto 0 auto;

    img {
      height: 25px;
      width: 25px;
      margin: 0 10px;
    }
  }
}