footer {
  padding-top: 65px;
  background-color: #f8f8f8;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
  flex-wrap: wrap;
}

.footer-col--first {
  width: 40%;
}

.footer-col--second {
  width: 29%;
}

.footer-col--third {
  width: 22%;
}

.footer-logo {
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: 700;
  color: #ccc;
}

.footer-text {
  margin-bottom: 30px;
  font-size: 15pt;
  font-family: "Roboto Light", sans-serif;
  color: #999;
}

.footer-social {
  margin-bottom: 25px;
}

.footer-social-header {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;

  b {
    font-size: 18px;
  }
}

.footer-social-content {
  padding-top: 15px;
  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;

  a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
    color: #95e1d3;
  }
}

.footer-title {
  margin: 30px 0;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/* Blogs */

.blogs-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.blogs-img {
  width: 120px;
  height: 80px;
}

.blogs-content {
  padding-left: 20px;
}

.blogs-title {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.blogs-date {
  font-size: 13px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

/* Instagram */

.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram-item {
  width: 33.33333%;
  border-bottom: 2px solid #fff;

  img {
    display: block;
    width: 95%;
  }
}

.view_instagram {
  font-size: 13px;
  color: #999;
  font-style: italic;
  font-weight: 300;
  text-decoration-line: none;
}

/* Subscribe */

.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
}

.subscribe-input {
  width: 100%;
  height: 40px;

  /*padding: 12px;*/

  background: #fff;
  border: 1px solid #e7e7e7;
  border-right: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.1;
  color: #333;
  font-style: italic;
  font-weight: 300;

  &::placeholder {
    color: #ccc;
  }

  &:focus {
    outline: 0;
    border-color: #95e1d3;
  }
}

.subscribe-btn {
  width: 40%;
  height: 44px;
  padding: 12px 30px;
  background-color: #95e1d3;
  border: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: background .2s linear;

  &:hover {
    background-color: #74c7b8;
  }

  &:focus {
    outline: 0;
  }
}

.footer-social-header b {
  font-weight: bold;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .footer-col--first {
    width: 90%;
  }

  .footer-col--second, .footer-col--third {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .footer-col--first, .footer-col--second, .footer-col--third {
    width: 100%;
  }
}